.header {
  max-height: 55px;
  height: 100%;
  padding: 0 50px;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 28px;
  color: var(--white);
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 18px;
    color: var(--white);
  }
}

@media (max-width: 338px) {
  .header {
    background-color: var(--dark-blue);
    align-items: flex-end;
    justify-content: end;
  }
  .header h1 {
    display: none;
  }
}
